*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.page{
    display: grid;
    grid-template-areas: 
    'header header'
    'main sidebar'
    'footer footer';
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    grid-template-rows: auto 1fr auto; 
    gap: 5px; 
    padding: 5px;
}



header{
    grid-area: header;
    color: orange;
    background-color: grey;
    text-align: center;
    font-size: 2em;
    position: sticky;
    padding: 5px;
    height: 225px;
    top: 0;
    z-index: 2;
    border: 5px solid black; 
}


aside{
    grid-area: sidebar;
    background-color: darkgrey;
    align-self: right;
    justify-content: right;
    padding: 5px;
    border: 5px solid black; 
}

main{
    grid-area: main;
    background-color: burlywood;
    padding: 10px;
    border: 5px solid black; 
}

footer{
    grid-area: footer;
    background-color: gray;
    color: white;
    text-align: center;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    padding: 10px;
    border: 5px solid black; 
}




/* Header css*/
.flex-item{
    background: grey;
    color: orange;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 1;
    min-width: 200px;
}


.pages-list{
    text-align: center;
    justify-content: space-between;
    background-color: grey;

}

/* Sidebar css*/
.aside-header{
    color: chartreuse;
    text-align: center;
    font-size: 35px;
}



.upgrade-list{
    color: chartreuse;
    text-align: left;
    font-size: 25px;
}

/* Main content css*/

.overflow{
    overflow: auto;
}

.upgrades-header{
    color: coral;
    text-align: center;
    font-size: 45px;
}

/* stamina css*/
.stam-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.stam-list{
    color: coral;
    font-size: 25px;
}

/* health css*/
.health-img{
    width: 450px;
}

.health-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.health-list{
    color: coral;
    font-size: 25px;
}

/* Sprint Speed css*/
.sprint-speed-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.sprint-speed-list{
    color: coral;
    font-size: 25px;
}

.sprint-speed-img{
    width: 450px;
}

/* Strength css*/
.strength-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.strength-list{
    color: coral;
    font-size: 25px;
}

.strength-img{
    width: 450px;
}

/* Range css*/
.range-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.range-list{
    color: coral;
    font-size: 25px;
}

.range-img{
    width: 250px;
}

/* Tumble Launch css*/
.tumble-launch-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.tumble-launch-list{
    color: coral;
    font-size: 25px;
}

.tumble-launch-img{
    width: 350px;
}

/* Extra Jump css*/
.extra-jump-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.extra-jump-list{
    color: coral;
    font-size: 25px;
}

.extra-jump-img{
    width: 450px;
}

/* Map Player Count css*/
.map-player-count-header{
    color: coral;
    text-align: center;
    font-size: 35px;
}

.map-player-count-list{
    color: coral;
    font-size: 25px;
}

.map-player-count-img{
    width: 450px;
}